@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
	background: #f2f2f2;
}

#header {
	background: url(../img/chimp.gif) center left no-repeat #EE836E; 
	height: 500px; 
	color: #fff;
}

#form-container {
	background:#fff; 
	padding: 40px; 
	box-shadow: 0 0 3px rgba(0,0,0,0.2);	
}

form {

	button {
		border: none;
		background: #6DC5DC;
		outline: none;
		color: #fff;
		padding: 10px 20px;
		text-align: center;
		cursor: pointer;
		width: 100%;
		font-size: 2em;
	}
	
	label {
		display: block;
		font-weight: bold;
		margin: 20px 0 10px;		
	}
	
	input[type="text"], input[type="email"] {
		border: none;
		outline: none;
		box-shadow: none;
		background: #efefef;
		width: 100%;
		padding: 10px 15px;
		font-size: 1.2em;
		box-sizing: border-box;
		font-weight: lighter;
	}	

	#mce-responses {
		background: #efefef;
		border: 1px solid #ccc;
		margin: 20px 0;
		padding: 40px;
		display: none;
	}	
	
}